

<div class="container1">
    <img src="assets/img/image7.png" alt="">
</div>
<div class="container2">
    <h1>Sobre Nós</h1>
    <p>Somos uma barbearia com atuação há 10 anos no segmento, levado serviços e atendimento de qualidade</p>
</div>

    <div class="container3">
        <div class="carrosselfuncionarios">
        <h1>Profissionais</h1>       

        </div>
    </div>
    
    <div class="container4">
        <div class="carrosselservicos">
        <h1>Serviços</h1>
        
    
        </div>
    </div>
    <div class="container5">
        <div class="carrosselservicos">
        <h1>Produtos</h1>
        
    
        </div>
    </div>


  



